Repository thegridelectric/gridworks-protocol: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-toml, check-yaml, pyupgrade

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: check-added-large-files
        name: Check for added large files
        entry: check-added-large-files
        language: system
      - id: check-toml
        name: Check Toml
        entry: check-toml
        language: system
        types: [toml]
      - id: check-yaml
        name: Check Yaml
        entry: check-yaml
        language: system
        types: [yaml]
      - id: pyupgrade
        name: pyupgrade
        description: Automatically upgrade syntax for newer versions.
        entry: pyupgrade
        language: system
        types: [python]
        args: [--py37-plus]
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.9.6
    hooks:
      - id: ruff
      - id: ruff-format

lazy import of default decoders to reduce circular import issues
  src/gwproto/__init__.py
  src/gwproto/data_classes/hardware_layout.py
  src/gwproto/default_decoders.py
  tests/component_load_utils.py
Due: pyupgrade

Forgot to update cac_load_utils w lazy import. Remove fibaro and hubitat stuff
  src/gwproto/data_classes/components/__init__.py
  src/gwproto/data_classes/components/fibaro_smart_implant_component.py
  src/gwproto/data_classes/components/hubitat_component.py
  src/gwproto/data_classes/components/hubitat_poller_component.py
  src/gwproto/data_classes/components/hubitat_tank_component.py
  src/gwproto/data_classes/hardware_layout.py
  src/gwproto/data_classes/telemetry_tuple.py
  src/gwproto/named_types/__init__.py
  src/gwproto/named_types/fibaro_smart_implant_component_gt.py
  src/gwproto/named_types/hubitat_component_gt.py
  src/gwproto/named_types/hubitat_gt.py
  src/gwproto/named_types/hubitat_poller_component_gt.py
  src/gwproto/named_types/hubitat_poller_gt.py
  src/gwproto/named_types/hubitat_tank_component_gt.py
  src/gwproto/named_types/hubitat_tank_gt.py
  tests/cac_load_utils.py
Due: pyupgrade

Update enums via code gen - documentation changes only
  src/gwproto/enums/__init__.py
  src/gwproto/enums/actor_class.py
  src/gwproto/enums/admin_event.py
  src/gwproto/enums/admin_state.py
  src/gwproto/enums/alert_priority.py
  src/gwproto/enums/aquastat_control.py
  src/gwproto/enums/change_store_flow_relay.py
  src/gwproto/enums/fsm_action_type.py
  src/gwproto/enums/fsm_name.py
  src/gwproto/enums/fsm_report_type.py
  src/gwproto/enums/gpm_from_hz_method.py
  src/gwproto/enums/heat_pump_control.py
  src/gwproto/enums/heatcall_source.py
  src/gwproto/enums/hz_calc_method.py
  src/gwproto/enums/kind_of_param.py
  src/gwproto/enums/make_model.py
  src/gwproto/enums/primary_pump_control.py
  src/gwproto/enums/relay_wiring_config.py
  src/gwproto/enums/store_flow_relay.py
  src/gwproto/enums/strategy.py
  src/gwproto/enums/telemetry_name.py
  src/gwproto/enums/temp_calc_method.py
  src/gwproto/enums/thermistor_data_method.py
  src/gwproto/enums/unit.py
Due: pyupgrade

very minor
  src/gwproto/property_format.py
  src/gwproto/type_helpers/__init__.py
  tests/enums/actor_class_test.py
  tests/enums/make_model_test.py
  tests/enums/telemetry_name_test.py
Due: pyupgrade

MAJOR - update all by-hand named types to inherit from GwBase
  src/gwproto/data_classes/data_channel.py
  src/gwproto/data_classes/sh_node.py
  src/gwproto/message.py
  src/gwproto/messages/event.py
  src/gwproto/messages/misc.py
  tests/data/report_message.json
Due: pyupgrade

More cleanup: HardwareLayout uses snake case, refactor test decoders - Move the parent and child decoders into test_decoders - Update test_decoders and hardware layout to using snake case
  src/gwproto/data_classes/hardware_layout.py
  tests/config/hardware-layout.json
  tests/dummy_decoders/__init__.py
  tests/dummy_decoders/child/__init__.py
  tests/dummy_decoders/child/codec.py
  tests/dummy_decoders/parent/__init__.py
  tests/dummy_decoders/parent/codec.py
  tests/test_decoders.py
Due: pyupgrade

Update test_message.py
  tests/test_message.py
Due: pyupgrade

Create MessageDecoder to handle GwBase types directly
  src/gwproto/decoders.py
Due: pyupgrade

Add MQTTCodec with custom MessageDecoder implementation
  src/gwproto/decoders.py
Due: pyupgrade

Update create_message_model and UnionDecoders for cacs/components
  src/gwproto/__init__.py
  src/gwproto/decoders.py
Due: pyupgrade

WIP getting tests to pass
  src/gwproto/data_classes/hardware_layout.py
  src/gwproto/decoders.py
  src/gwproto/default_decoders.py
  src/gwproto/message.py
  src/gwproto/named_types/resistive_heater_component_gt.py
  src/gwproto/named_types/spaceheat_node_gt.py
  tests/named_types/test_web_server_component_gt.py
  tests/test_decoders.py
Due: pyupgrade

Add back hubitat poller for thermostats
  src/gwproto/data_classes/components/__init__.py
  src/gwproto/data_classes/components/hubitat_component.py
  src/gwproto/data_classes/components/hubitat_poller_component.py
  src/gwproto/data_classes/components/hubitat_tank_component.py
  src/gwproto/named_types/__init__.py
  src/gwproto/named_types/hubitat_component_gt.py
  src/gwproto/named_types/hubitat_gt.py
  src/gwproto/named_types/hubitat_poller_component_gt.py
  src/gwproto/named_types/hubitat_poller_gt.py
  src/gwproto/named_types/hubitat_tank_component_gt.py
  src/gwproto/named_types/hubitat_tank_gt.py
  tests/config/hardware-layout.json
Due: pyupgrade

Add Header and Message to messages init
  src/gwproto/messages/__init__.py
Due: pyupgrade

Updates to code gen tools
  .gitignore
  code_gen/core/.ssotme/Enum/EnumInit/xml-xslt-transform.zfs
  code_gen/core/.ssotme/Enum/EnumTest/xml-xslt-transform.zfs
  code_gen/core/.ssotme/Enum/xml-xslt-transform.zfs
  code_gen/core/.ssotme/SSoT/airtable-to-xml.zfs
  code_gen/core/.ssotme/SSoT/o-d-x-m-l-to-entities-json.zfs
  code_gen/core/Enum/DeriveEnums.xslt
Due: none

Add MessageCategory and MessageCategorySymbol
  src/gwproto/enums/message_category.py
  src/gwproto/enums/message_category_symbol.py
Due: pyupgrade

Add MessageCategory to __init__
  code_gen/core/Enum/EnumInit/DeriveEnumInit.xslt
  src/gwproto/enums/__init__.py
Due: pyupgrade

MQTTTopic now handles gw, rj, and rjb message categories
  src/gwproto/topic.py
Due: pyupgrade

Update topic tests
  tests/test_topic.py
Due: pyupgrade

test_decoders passes
  src/gwproto/decoders.py
  src/gwproto/topic.py
  tests/decode_utils.py
  tests/test_decoders.py
Due: pyupgrade

tests pass
  src/gwproto/data_classes/data_channel.py
  src/gwproto/data_classes/hardware_layout.py
  src/gwproto/data_classes/sh_node.py
  src/gwproto/data_classes/synth_channel.py
  src/gwproto/named_types/hubitat_component_gt.py
  tests/component_load_utils.py
Due: pyupgrade

MessageDecoder available
  src/gwproto/__init__.py
Due: pyupgrade

very minor
  src/gwproto/__init__.py
Due: pyupgrade

use airtable-to-odxml
  code_gen/core/aicapture.json
Due: none

unfreeze various
  code_gen/core/.ssotme/ODXML/airtable-to-o-d-x-m-l.zfs
  code_gen/core/.ssotme/Types/xml-xslt-transform.zfs
  code_gen/core/ODXML/DataSchema.odxml
  code_gen/core/SSoT/Airtable.xml
  code_gen/core/SSoT/Entities.json
  code_gen/core/clean.sh
  src/gwproto/data_classes/components/component.py
  src/gwproto/data_classes/components/hubitat_poller_component.py
  src/gwproto/data_classes/components/rest_poller_component.py
  src/gwproto/data_classes/components/web_server_component.py
  src/gwproto/data_classes/hardware_layout.py
  src/gwproto/message.py
  src/gwproto/messages/event.py
  src/gwproto/named_types/spaceheat_node_gt.py
Due: pyupgrade

spaceheat actor_class back to str
  src/gwproto/named_types/spaceheat_node_gt.py
Due: pyupgrade

use AirtableToODXML instead of SSoT for code-gen
  CodeGenerationTools/GridworksCore/aicapture.json
Due: none

update for api tankmodule
  pyproject.toml
  src/gwproto/data_classes/components/__init__.py
  src/gwproto/data_classes/components/pico_btu_meter_component.py
  src/gwproto/enums/telemetry_name.py
  src/gwproto/named_types/__init__.py
  src/gwproto/named_types/async_btu_data.py
  src/gwproto/named_types/async_btu_params.py
  src/gwproto/named_types/components.py
  src/gwproto/named_types/pico_btu_meter_component_gt.py
  src/gwproto/type_helpers/cacs_by_make_model.py
  tests/enums/telemetry_name_test.py
  tests/named_types/test_async_btu_data.py
  tests/named_types/test_async_btu_params.py
  tests/named_types/test_pico_btu_meter_component_gt.py
Due: check-toml, pyupgrade

Upgrade to gridworks 1.5.6
  poetry.lock
  pyproject.toml
Due: check-toml

minor
  code_gen/core/.ssotme/Types/TypeInit/xml-xslt-transform.zfs
  code_gen/core/.ssotme/Types/TypeTests/xml-xslt-transform.zfs
  code_gen/core/ODXML/DataSchema.odxml
  code_gen/core/SSoT/Airtable.xml
Due: none

Add SwapTopBottom to PicoTankModuleComponentGt
  src/gwproto/named_types/pico_tank_module_component_gt.py
Due: pyupgrade

Adding sensor order to PicoTankModuleComponentGt
  src/gwproto/named_types/pico_tank_module_component_gt.py
Due: pyupgrade

debug
  src/gwproto/named_types/pico_tank_module_component_gt.py
Due: pyupgrade

Update version
  pyproject.toml
Due: check-toml

set src to None in event base by default
  src/gwproto/gw_base.py
  src/gwproto/messages/event.py
Due: pyupgrade

Update tank module component with new version, axiom and optional SensorOrder
  pyproject.toml
  src/gwproto/named_types/pico_tank_module_component_gt.py
  tests/named_types/test_pico_tank_module_component_gt.py
Due: check-toml, pyupgrade

Lazy import
  src/gwproto/default_decoders.py
Due: pyupgrade
