Repository thegridelectric/gridworks-protocol: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-toml, check-yaml, pyupgrade

check-toml:
  name: Check Toml
  entry: check-toml
  language: system

check-yaml:
  name: Check Yaml
  entry: check-yaml
  language: system

pyupgrade:
  name: pyupgrade
  description: Automatically upgrade syntax for newer versions.
  entry: pyupgrade
  language: system
  args:
  - --py37-plus

Make Version fields into strings (not literals), so changing the version does not prevent decoding older version
  src/gwproto/message.py
  src/gwproto/messages/event.py
  src/gwproto/named_types/ads111x_based_cac_gt.py
  src/gwproto/named_types/ads111x_based_component_gt.py
  src/gwproto/named_types/ads_channel_config.py
  src/gwproto/named_types/alert.py
  src/gwproto/named_types/analog_dispatch.py
  src/gwproto/named_types/channel_readings.py
  src/gwproto/named_types/data_channel_gt.py
  src/gwproto/named_types/dfr_component_gt.py
  src/gwproto/named_types/dfr_config.py
  src/gwproto/named_types/egauge_register_config.py
  src/gwproto/named_types/electric_meter_cac_gt.py
  src/gwproto/named_types/electric_meter_channel_config.py
  src/gwproto/named_types/electric_meter_component_gt.py
  src/gwproto/named_types/fsm_atomic_report.py
  src/gwproto/named_types/fsm_full_report.py
  src/gwproto/named_types/heartbeat_b.py
  src/gwproto/named_types/i2c_multichannel_dt_relay_component_gt.py
  src/gwproto/named_types/keyparam_change_log.py
  src/gwproto/named_types/machine_states.py
  src/gwproto/named_types/pico_flow_module_component_gt.py
  src/gwproto/named_types/pico_tank_module_component_gt.py
  src/gwproto/named_types/power_watts.py
  src/gwproto/named_types/relay_actor_config.py
  src/gwproto/named_types/report.py
  src/gwproto/named_types/send_snap.py
  src/gwproto/named_types/single_reading.py
  src/gwproto/named_types/spaceheat_node_gt.py
  src/gwproto/named_types/synced_readings.py
  src/gwproto/named_types/synth_channel_gt.py
  src/gwproto/named_types/tank_module_params.py
  src/gwproto/named_types/ticklist_hall.py
  src/gwproto/named_types/ticklist_hall_report.py
  src/gwproto/named_types/ticklist_reed.py
  src/gwproto/named_types/ticklist_reed_report.py
Due: pyupgrade

Make SpaceheatNodeGt.ActorClass a string, not an enum, so new actor types do not have to appear in gwproto
  src/gwproto/named_types/spaceheat_node_gt.py
Due: pyupgrade

Fix ShNode.actor_class property, broken by last commit
  src/gwproto/data_classes/sh_node.py
Due: pyupgrade

Added HardwareLayout.add_node() so applications with very simple layouts can add nodes without needing a full hardware layout
  src/gwproto/data_classes/hardware_layout.py
Due: pyupgrade

3.13
  .github/workflows/tests.yml
  noxfile.py
Due: check-yaml, pyupgrade

Fix coverage in CI for python 3.13
  .github/workflows/tests.yml
Due: check-yaml

3.13 (#454)
  .github/workflows/tests.yml
  noxfile.py
Due: check-yaml, pyupgrade

Bump version
  pyproject.toml
Due: check-toml

Remove alias generator from WebServerGt, since it prevents setting changes being read from dotenv file (see here: https://github.com/pydantic/pydantic-settings/issues/501)
  src/gwproto/named_types/web_server_gt.py
Due: pyupgrade

Dev: added importtime-output-wrapper in pursuit of issue #464
  poetry.lock
  pyproject.toml
Due: check-toml

Add PicoHwUid to the PicoTankModuleComponentGt for cases where there is a single Pico per tank
  src/gwproto/named_types/pico_tank_module_component_gt.py
Due: pyupgrade

bump version to 1.2.7
  pyproject.toml
Due: check-toml

Make PicoTankModuleComponentGt.Version a string not a Literal to allow for greater compatibility
  src/gwproto/named_types/pico_tank_module_component_gt.py
Due: pyupgrade

Fix axiom
  pyproject.toml
  src/gwproto/named_types/pico_tank_module_component_gt.py
Due: check-toml, pyupgrade

Another minor gridworks touch
  pyproject.toml
  src/gwproto/named_types/component_attribute_class_gt.py
  src/gwproto/type_helpers/cacs_by_make_model.py
Due: check-toml, pyupgrade

remove obsolete TelemetryTuple concept
  CodeGenerationTools/GridworksCore/Types/PropertyFormats/DerivePropertyFormats.xslt
  repo_structure.md
  src/gwproto/data_classes/hardware_layout.py
  src/gwproto/data_classes/telemetry_tuple.py
  src/gwproto/property_format.py
Due: pyupgrade

minor
  CodeGenerationTools/GridworksCore/SSoT/Airtable.xml
  CodeGenerationTools/GridworksCore/Types/DeriveTypes.xslt
Due: none

minor
  CodeGenerationTools/GridworksCore/Types/DeriveTypes.xslt
Due: none

lazy import
  src/gwproto/default_decoders.py
Due: pyupgrade

Add airtable-to-odxml
  CodeGenerationTools/GridworksCore/aicapture.json
Due: none

WIP GwBase inheritance - Update messages/event.py - Fix circular import in default_decoders - toss out hubitat stuff (not used any more) - start saving some of the updated types
  CodeGenerationTools/GridworksCore/Types/TypeTests/DeriveTypeTests.xslt
  docs/iot-hubs.rst
  poetry.lock
  pyproject.toml
  src/gwproto/__init__.py
  src/gwproto/data_classes/components/__init__.py
  src/gwproto/data_classes/components/hubitat_component.py
  src/gwproto/data_classes/components/hubitat_poller_component.py
  src/gwproto/data_classes/components/hubitat_tank_component.py
  src/gwproto/data_classes/hardware_layout.py
  src/gwproto/decoders.py
  src/gwproto/default_decoders.py
  src/gwproto/messages/event.py
  src/gwproto/named_types/__init__.py
  src/gwproto/named_types/ads111x_based_cac_gt.py
  src/gwproto/named_types/ads111x_based_component_gt.py
  src/gwproto/named_types/electric_meter_channel_config.py
  src/gwproto/named_types/electric_meter_component_gt.py
  src/gwproto/named_types/hubitat_component_gt.py
  src/gwproto/named_types/hubitat_gt.py
  src/gwproto/named_types/hubitat_poller_component_gt.py
  src/gwproto/named_types/hubitat_poller_gt.py
  src/gwproto/named_types/hubitat_tank_component_gt.py
  src/gwproto/named_types/hubitat_tank_gt.py
  tests/config/hardware-layout.json
  tests/named_types/test_hubitat_component_gt.py
  tests/named_types/test_hubitat_gt.py
  tests/named_types/test_hubitat_poller_component_gt.py
  tests/named_types/test_hubitat_tank_component_gt.py
  tests/test_decoders.py
Due: check-toml, pyupgrade

WIP updating types
  CodeGenerationTools/GridworksCore/Enum/DeriveEnums.xslt
  CodeGenerationTools/GridworksCore/Types/DeriveTypes.xslt
  CodeGenerationTools/GridworksCore/Types/TypeTests/DeriveTypeTests.xslt
  src/gwproto/named_types/ads111x_based_component_gt.py
  src/gwproto/named_types/ads_channel_config.py
  src/gwproto/named_types/alert.py
  src/gwproto/named_types/analog_dispatch.py
  src/gwproto/named_types/channel_config.py
  src/gwproto/named_types/channel_readings.py
  src/gwproto/named_types/component_attribute_class_gt.py
  src/gwproto/named_types/component_gt.py
  src/gwproto/named_types/components.py
  src/gwproto/named_types/data_channel_gt.py
  src/gwproto/named_types/dfr_component_gt.py
  src/gwproto/named_types/dfr_config.py
  tests/named_types/test_ads111x_based_component_gt.py
  tests/named_types/test_ads_channel_config.py
  tests/named_types/test_alert.py
  tests/named_types/test_analog_dispatch.py
  tests/named_types/test_channel_config.py
  tests/named_types/test_channel_readings.py
  tests/named_types/test_component_gt.py
  tests/named_types/test_data_channel_gt.py
  tests/named_types/test_dfr_config.py
Due: pyupgrade

update enum docstrings
  CodeGenerationTools/GridworksCore/Enum/DeriveEnums.xslt
  src/gwproto/enums/actor_class.py
  src/gwproto/enums/admin_event.py
  src/gwproto/enums/admin_state.py
  src/gwproto/enums/alert_priority.py
  src/gwproto/enums/aquastat_control.py
  src/gwproto/enums/change_store_flow_relay.py
  src/gwproto/enums/fsm_action_type.py
  src/gwproto/enums/fsm_name.py
  src/gwproto/enums/fsm_report_type.py
  src/gwproto/enums/gpm_from_hz_method.py
  src/gwproto/enums/heat_pump_control.py
  src/gwproto/enums/heatcall_source.py
  src/gwproto/enums/hz_calc_method.py
  src/gwproto/enums/kind_of_param.py
  src/gwproto/enums/make_model.py
  src/gwproto/enums/primary_pump_control.py
  src/gwproto/enums/relay_wiring_config.py
  src/gwproto/enums/store_flow_relay.py
  src/gwproto/enums/strategy.py
  src/gwproto/enums/telemetry_name.py
  src/gwproto/enums/temp_calc_method.py
  src/gwproto/enums/thermistor_data_method.py
  src/gwproto/enums/unit.py
Due: pyupgrade

Update docstring for types
  CodeGenerationTools/GridworksCore/Types/DeriveTypes.xslt
  src/gwproto/named_types/ads111x_based_cac_gt.py
  src/gwproto/named_types/ads111x_based_component_gt.py
  src/gwproto/named_types/ads_channel_config.py
  src/gwproto/named_types/alert.py
  src/gwproto/named_types/analog_dispatch.py
  src/gwproto/named_types/channel_config.py
  src/gwproto/named_types/channel_readings.py
  src/gwproto/named_types/component_attribute_class_gt.py
  src/gwproto/named_types/component_gt.py
  src/gwproto/named_types/data_channel_gt.py
  src/gwproto/named_types/dfr_component_gt.py
  src/gwproto/named_types/dfr_config.py
  tests/named_types/test_ads111x_based_cac_gt.py
  tests/named_types/test_component_attribute_class_gt.py
  tests/named_types/test_dfr_component_gt.py
Due: pyupgrade

something more re default decoders
  src/gwproto/type_helpers/__init__.py
  tests/cac_load_utils.py
  tests/component_load_utils.py
  tests/data/report_message.json
Due: pyupgrade

more updated types
  CodeGenerationTools/GridworksCore/Types/DeriveTypes.xslt
  src/gwproto/data_classes/hardware_layout.py
  src/gwproto/named_types/component_attribute_class_gt.py
  src/gwproto/named_types/egauge_register_config.py
  src/gwproto/named_types/electric_meter_cac_gt.py
  src/gwproto/named_types/electric_meter_channel_config.py
  src/gwproto/named_types/fsm_atomic_report.py
  src/gwproto/named_types/fsm_full_report.py
  src/gwproto/named_types/heartbeat_b.py
  src/gwproto/named_types/i2c_multichannel_dt_relay_component_gt.py
  src/gwproto/named_types/keyparam_change_log.py
  src/gwproto/named_types/machine_states.py
  src/gwproto/named_types/pico_flow_module_component_gt.py
  src/gwproto/named_types/relay_actor_config.py
  src/gwproto/named_types/spaceheat_node_gt.py
  tests/named_types/test_component_attribute_class_gt.py
  tests/named_types/test_egauge_register_config.py
  tests/named_types/test_electric_meter_cac_gt.py
  tests/named_types/test_electric_meter_channel_config.py
  tests/named_types/test_fsm_atomic_report.py
  tests/named_types/test_fsm_full_report.py
  tests/named_types/test_heartbeat_b.py
  tests/named_types/test_i2c_multichannel_dt_relay_component_gt.py
  tests/named_types/test_keyparam_change_log.py
  tests/named_types/test_machine_states.py
  tests/named_types/test_pico_flow_module_component_gt.py
  tests/named_types/test_relay_actor_config.py
  tests/named_types/test_spaceheat_node_gt.py
Due: pyupgrade

WIP
  src/gwproto/data_classes/sh_node.py
  src/gwproto/named_types/electric_meter_component_gt.py
  src/gwproto/named_types/pico_tank_module_component_gt.py
  src/gwproto/named_types/power_watts.py
  src/gwproto/named_types/resistive_heater_cac_gt.py
  tests/cac_load_utils.py
  tests/named_types/test_power_watts.py
  tests/named_types/test_resistive_heater_cac_gt.py
Due: pyupgrade

clean up DeriveTypes a bit
  CodeGenerationTools/GridworksCore/Types/DeriveTypes.xslt
  src/gwproto/named_types/machine_states.py
  src/gwproto/named_types/report.py
  tests/named_types/test_report.py
Due: pyupgrade

WIP
  src/gwproto/named_types/resistive_heater_component_gt.py
  src/gwproto/named_types/rest_poller_component_gt.py
  src/gwproto/named_types/send_snap.py
  src/gwproto/named_types/single_reading.py
  src/gwproto/named_types/synced_readings.py
  src/gwproto/named_types/synth_channel_gt.py
  tests/named_types/test_send_snap.py
  tests/named_types/test_single_reading.py
  tests/named_types/test_synced_readings.py
  tests/named_types/test_synth_channel_gt.py
Due: pyupgrade

finishing up w named types
  src/gwproto/named_types/tank_module_params.py
  src/gwproto/named_types/ticklist_hall.py
  src/gwproto/named_types/ticklist_hall_report.py
  src/gwproto/named_types/ticklist_reed.py
  src/gwproto/named_types/ticklist_reed_report.py
  src/gwproto/named_types/web_server_component_gt.py
  tests/named_types/test_pico_tank_module_component_gt.py
  tests/named_types/test_tank_module_params.py
  tests/named_types/test_ticklist_hall.py
  tests/named_types/test_ticklist_hall_report.py
  tests/named_types/test_ticklist_reed.py
  tests/named_types/test_ticklist_reed_report.py
  tests/named_types/test_web_server_component_gt.py
Due: pyupgrade

WIP test_message passes
  poetry.lock
  pyproject.toml
  src/gwproto/decoders.py
  src/gwproto/message.py
  src/gwproto/messages/misc.py
  tests/test_message.py
Due: check-toml, pyupgrade

test_message.py passes
  src/gwproto/message.py
  tests/test_message.py
Due: pyupgrade

WIP
  tests/test_decoders.py
Due: pyupgrade

WIP decoder
  src/gwproto/decoders.py
  src/gwproto/message.py
  src/gwproto/messages/misc.py
  tests/dummy_decoders/__init__.py
  tests/dummy_decoders/child/__init__.py
  tests/dummy_decoders/child/codec.py
  tests/dummy_decoders/parent/__init__.py
  tests/dummy_decoders/parent/codec.py
  tests/test_decoders.py
Due: pyupgrade

minor
  src/gwproto/decoders.py
Due: pyupgrade

rename code gen folder
  code_gen/core/.ssotme/Enum/Docs/Toc/xml-xslt-transform.zfs
  code_gen/core/.ssotme/Enum/Docs/xml-xslt-transform.zfs
  code_gen/core/.ssotme/Enum/EnumInit/xml-xslt-transform.zfs
  code_gen/core/.ssotme/Enum/EnumTest/xml-xslt-transform.zfs
  code_gen/core/.ssotme/Enum/xml-xslt-transform.zfs
  code_gen/core/.ssotme/ODXML/airtable-to-o-d-x-m-l.zfs
  code_gen/core/.ssotme/SSoT/airtable-to-xml.zfs
  code_gen/core/.ssotme/SSoT/o-d-x-m-l-to-entities-json.zfs
  code_gen/core/.ssotme/Types/Docs/AslDocs/Toc/xml-xslt-transform.zfs
  code_gen/core/.ssotme/Types/Docs/AslDocs/xml-xslt-transform.zfs
  code_gen/core/.ssotme/Types/Docs/SdkDocs/Toc/xml-xslt-transform.zfs
  code_gen/core/.ssotme/Types/Docs/SdkDocs/xml-xslt-transform.zfs
  code_gen/core/.ssotme/Types/TypeInit/xml-xslt-transform.zfs
  code_gen/core/.ssotme/Types/TypeTests/xml-xslt-transform.zfs
  code_gen/core/.ssotme/Types/xml-xslt-transform.zfs
  code_gen/core/.ssotme/airtable-to-o-d-x-m-l.zfs
  code_gen/core/.ssotme/s-so-t.zfs
  code_gen/core/DataSchema.odxml
  code_gen/core/Enum/DeriveEnums.xslt
  code_gen/core/Enum/Docs/DeriveAslDocs.xslt
  code_gen/core/Enum/Docs/Toc/DeriveToc.xslt
  code_gen/core/Enum/EnumInit/DeriveEnumInit.xslt
  code_gen/core/Enum/EnumTest/DeriveEnumTests.xslt
  code_gen/core/Enum/Literal/DeriveLiteral.xslt
  code_gen/core/Enum/OldSchool/DeriveOldSchool.xslt
  code_gen/core/GnfCommon.xslt
  code_gen/core/ODXML/DataSchema.odxml
  code_gen/core/SMQL/SassyMQLexicon.smql
  code_gen/core/SSoT/Airtable.xml
  code_gen/core/SSoT/Entities.json
  code_gen/core/Types/DeriveTypes.xslt
  code_gen/core/Types/Docs/AslDocs/DeriveAslDocs.xslt
  code_gen/core/Types/Docs/AslDocs/Toc/DeriveToc.xslt
  code_gen/core/Types/Docs/SdkDocs/DeriveSdkDocs.xslt
  code_gen/core/Types/Docs/SdkDocs/Toc/DeriveToc.xslt
  code_gen/core/Types/PropertyFormats/DerivePropertyFormats.xslt
  code_gen/core/Types/TypeInit/DeriveTypeInit.xslt
  code_gen/core/Types/TypeTests/DeriveTypeTests.xslt
  code_gen/core/aicapture.json
  code_gen/core/clean.sh
Due: none

update to latest gridworks package
  poetry.lock
  pyproject.toml
Due: check-toml

Path conditions:
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
  pyupgrade: any of: \.py$
